{% extends 'basic.html' %}
{% block title%} PUBG {% endblock %}

{% block body %}


  <div class="container my-3">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/zr1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Erangel . .  PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Squad . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
        
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/shanok.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Sanhok . .  PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Squad . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/miramer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Miramar .   PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Squad . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
        
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">col</div>
    </div>
  </div>


  <div class="container my-3">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/zr1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Erangel . .  PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Duo . . . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
        
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/shanok.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Sanhok . .  PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Duo . . . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/miramer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Miramar .   PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Duo . . . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
        
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">col</div>
    </div>
  </div>


  <div class="container my-3">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/zr1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Erangel . .  PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Solo . . . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
        
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/shanok.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Sanhok . .  PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Solo . . . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/media/miramer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG match #001</h5>
              <p class="card-text">Date:- 20-fab-2020  Time:- 2:30PM</p>
              <p class="card-text">Entry:- FREE . . . . .  Win Prize:- &#x20b9; 40</p>
              <p class="card-text">Map:- Miramar .   PerKill Prize:- &#x20b9; 2</p>
              <p class="card-text">Type:- Solo . . . .  Player Joined:- 05</p>
              <a href="#" class="btn btn-primary">JOIN NOW</a>
                 <!--start-->
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Requirement
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Requirements </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          
        </div>
        <div class="modal-body">
          <ul>
              <li>Tier Platinum V and above</li>
              <li>Minimum level - 35</li>
              <li>TeamUp not allowed (otherwise permanently banned)</li>
              <li>minimum matches played - 60</li>
              <li>minimum 3 season played</li>
              <li>Emulator players not allowed</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
        </div>
        
      </div>
    </div>
  </div>
            </div>
          </div>
      </div>
      <div class="col">col</div>
    </div>
  </div>


{% endblock %}